<h4 class="text-justify">Szanowni Państwo,</h4>
<h4 class="text-justify">informujemy, że od 1 stycznia 2023 roku narzędziem służącym do przekazania danych w ramach inwentaryzacji infrastruktury i usług telekomunikacyjnych jest program <strong>UKE Inwentaryzacja</strong>. Dostęp do tej aplikacji możliwy jest po uprzednim zalogowaniu się w Centralnym Systemie Uwierzytelniania UKE. Jednocześnie wyjaśniamy, że System Informacyjny o Infrastrukturze Szerokopasmowej (SIIS) nie będzie już wykorzystywany do gromadzenia danych w ramach inwentaryzacji.</h4>
<h4 class="text-justify">Pobierz pliki:</h4>
<h4><%= link_to t('.information_file_pdf'), "http://#{Rails.application.secrets[:domain_name]}/downloadfile/instrukcja.pdf" %></h4>
<h4><%= link_to t('.custom_file_xlsx'), "http://#{Rails.application.secrets[:domain_name]}/downloadfile/formularz.xlsx" %></h4>