<h4 class="text-justify">Szanowni Państwo,</h4>

<h4 class="text-justify">w celu umożliwienia Państwu przekazania danych o świadczonych usługach transmisji danych oraz świadczonych razem z nimi usługach telefonicznych oraz usługach rozprowadzania programów radiowych i telewizyjnych zgodnie ze stanem na dzień 31 grudnia 2022 r. UKE udostępnił narzędzie –  <%= link_to "Inwentaryzacja UKE", "https://inwentaryzacja.uke.gov.pl" %> - pozwalające na realizację tego obowiązku. Dostęp do tej aplikacji możliwy jest po uprzednim zalogowaniu się w Centralnym Systemie Uwierzytelniania UKE.</h4>

<h4>Jednocześnie informujemy, że w ramach bieżącej inwentaryzacji, tj. prowadzonej zgodnie ze stanem na dzień 31 grudnia 2023 r., dane należy przekazać korzystając z <%= link_to "Systemu PIT", "https://pitmap.uke.gov.pl"%></h4>


<h4 class="text-justify">UKE rekomenduje przekazywanie danych zgodnych z szablonami dostepnymi poniżej</h4>

<h4 class="text-justify">Szablony:</h4>
<h4><%= link_to t('.szablony_zip'), "http://#{Rails.application.secrets[:domain_name]}/downloadfile/szablony.zip" %></h4>



