<h4 class="text-justify">The <strong>"UKE Inwentaryzacja"</strong> program allows access to documents using a web browser.</h4>
<h4 class="text-justify">Create syntaxes, share files and folders.</h4>
<h4 class="text-justify">Now you can access the resources anytime and anywhere</h4>
