<h4 class="text-justify">Program <strong>„UKE Inwentaryzacja”</strong> umożliwia dostęp do dokumentów za pomocą przeglądarki internetowej.</h4>
<h4 class="text-justify">Twórz składnice, udostępniaj pliki i foldery.</h4>
<h4 class="text-justify">Teraz możesz mieć dostęp do zasobów w każdej chwili i gdziekolwiek jesteś</h4>